doctype html
html(lang='en')
  head
    title Table Page
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    table
      thead
        tr
          each header in headers
            th= header
      tbody
          each field in fields
            tr
              td= field.id
              td= field.name
              td= field.price